POSTGRES_USER=admin
POSTGRES_PASSWORD=change-me
POSTGRES_DB=app_db

REDIS_PORT=6379

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-me-too
MINIO_BUCKET=magic-bullet

FRONTEND_PORT=4321
BACKEND_PORT=8080
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

PUBLIC_API_BASE_URL=http://localhost:8080/api/v1
API_BASE_URL=http://backend:8080/api/v1
